{% extends 'base.html' %}

{% load static %}

{% block main_content_nav %}
<div class ="btn-group">
	{% if back_url %}
		<a href ='{{back_url}}' class="btn btn-primary">Go Back <i class = 'fa fa-reply'></i> </a>
	{% endif %}
	<a class ="btn btn-primary" href="{% url 'msg_box_inbox' %}">Classes</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_sentbox' %}">Marks</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_trashbox' %}">History</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_compose' %}">Send Message</a>
</div>


{% endblock %}


{% block main_content %}
<h3>Edit Class</h3>
<div class="">
	<h3>{{class.code}}</h3>
	<h4> Status: {% if class.is_active %}
		<span class = 'active'>Active</span>
		{% else %}
		<span class = 'danger'>Inactive</span>
		{% endif %}
	</h4>
	
</div>



<div class="profile-entry profile">
	<form class="profile-form" action="{% url 'class_details' action='edit' pk=class.pk %}" method="POST">
	    {% csrf_token %}
	
	<h4>Class Information</h4>
	<div class="row">
		<div class="col-sm-4">
			<strong>Name</strong><br>{{form.code}}
		</div>
		<div class="col-sm-4">
			<strong>Course</strong><br>{{form.course}}
		</div>
		<div class="col-sm-4">
			<strong>Exam Date</strong><br>{{form.exam_date}}
		</div>	
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<strong>Schedule</strong><br>{{form.schedule}}
			{{form.schedule.errors}}
		</div>
		<div class="col-sm-4">
			<strong>Max Student No.</strong><br>{{form.max_students}}
		</div>
		<div class="col-sm-4">
			<strong>Min Student No.</strong><br>{{form.min_students}}
		</div>	
	</div>
	<br>
	<input class = "btn btn-primary" type = 'submit' value = "Save Changes">
	</form>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<h4>Manage Students ({{students|length}})</h4>
			<!-- Search-box -->
			<div class="search-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<p>Add Student:</p>
						<input id="search-students-add-class" placeholder = 'Type to Begin Search' type="text"/>
						<div id="search-students-add-class-results">
			        	</div>
					</div>
				</div>
			</div>
			<!-- End of search-box -->
			<table class="table table-responsive table-striped view-results-table">
				<thead class="centered-text">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for student in students %}
				<tr>
					<td>{{student.personid}}</td>
					<td>
						{{student.user.first_name}}
						{{student.middle_name}}
						{{student.user.last_name}}
					</td>
					<td>
					<a class ="btn btn-xs btn-primary" href="{% url 'all_classes' action='class_details_remove_student' student_pk=student.pk pk=class.pk %}">Remove</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'course_details' pk=course.pk %}">View</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">Remove</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">View</a>
					</td>
				</tr>
				{% endfor %}
				<tfoot>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</tfoot>
			</table>
		</div>

		<div class="col-sm-6">
			<h4>Manage Teachers ({{teachers|length}})</h4>
			<!-- Search-box -->
			<div class="search-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<p>Add Student:</p>
						<input id="search-teachers-add-class" placeholder = 'Type to Begin Search' type="text"/>
						<div id="search-teachers-add-class-results">
			        	</div>
					</div>
				</div>
			</div>
			<!-- End of search-box -->
			<table class="table table-responsive table-striped view-results-table">
				<thead class="centered-text">
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for teacher in teachers %}
				<tr>
					<td>{{teacher.personid}}</td>
					<td>
						{{teacher.user.first_name}}
						{{teacher.middle_name}}
						{{teacher.user.last_name}}
					</td>
					<td>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">Remove</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">View</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block custom-js-ready %}

$( '#search-students-add-class' ).keyup( function() {
        q = $('#search-students-add-class').val();
        var q = 'studentaddclass-' + q.replace(/\s+/g,'-');
        $('#search-students-add-class-results').load( "{% url 'search' pk=class.pk %}"+'?q=' + q );
    });
    
    $('#search-students-add-class').focusin( function() {
        $( '#search-students-add-class-results' ).show();
    });

    $( '#search-teachers-add-class' ).keyup( function() {
        q = $('#search-teachers-add-class').val();
        var q = 'teacheraddclass-' + q.replace(/\s+/g,'-');
        $('#search-teachers-add-class-results').load( "{% url 'search' pk=class.pk %}"+'?q=' + q );
    });
    
    $('#search-teachers-add-class').focusin( function() {
        $( '#search-teachers-add-class-results' ).show();
    });

{% endblock %}