{% extends 'base.html' %}

{% load static %}

{% block main_content_nav %}
<div class ="btn-group">
	<a class ="btn btn-primary" href="{% url 'msg_box_inbox' %}">Classes</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_sentbox' %}">Marks</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_trashbox' %}">History</a>
	<a class ="btn btn-primary" href="{% url 'msg_box_compose' %}">Send Message</a>
</div>


{% endblock %}


{% block main_content %}
<h3>Edit Course</h3>
<div class="">
	<h3>{{course.title}}</h3>
	<h4> Status: {% if course.is_active %}
		<span class = 'active'>Active</span>
		{% else %}
		<span class = 'danger'>Inactive</span>
		{% endif %}
	</h4>
</div>




<div class="profile-entry profile">
	<form class="profile-form text-center" action="{% url 'course_details' action='edit' pk=course.pk %}" method="POST">
	    {% csrf_token %}
	
	<h4>Course Information</h4>
	<div class="row">
		<div class="col-sm-4">
			<strong>Title</strong><br>{{form.title}}
		</div>
		<div class="col-sm-4">
			<strong>Subtitle</strong><br>{{form.subtitle}}
		</div>
		<div class="col-sm-4">
			<strong>Syllabus Code</strong><br>{{form.syllabus_code}}
		</div>	
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<strong>Price</strong><br>{{form.price}}
		</div>
		<div class="col-sm-4">
			<strong>Duration</strong><br>{{form.duration}}
		</div>
		<div class="col-sm-4">
			<strong>Brochure</strong><br>{{form.info_file}}
			{{form.info_file.errors}}
		</div>	
	</div>
	<br>
	<input class = "btn btn-primary" type = 'submit' value = "Save Changes">
	</form>
	<hr>
	<div class="row">
		<div class="col-sm-6">
			<h4>Manage Subjects ({{subjects|length}})</h4>
			<!-- Search-box -->
			<div class="search-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<p>Add Subject:</p>
						<input id="search-subject-add-course" placeholder = 'Type to Begin Search' type="text"/>
						<div id="search-subject-add-course-results">
			        	</div>
					</div>
				</div>
			</div>
			<!-- End of search-box -->
			<table class="table table-responsive table-striped view-results-table">
				<thead class="centered-text">
					<tr>
						<th>Title</th>
						<th>Code</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for subject in subjects %}
				<tr>
					<td width = 50%>{{subject.title}}</td>
					<td width = 25%>{{subject.subject_code}}</td>
					<td width = 25%>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">Remove</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">View</a>
					</td>
				</tr>
				{% endfor %}
				<tfoot>
					<tr>
						<th>Title</th>
						<th>Code</th>
						<th>Actions</th>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="col-sm-6">
			<h4>Manage Campuses ({{campuses|length}})</h4>
			<!-- Search-box -->
			<div class="search-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<p>Add Campus:</p>
						<input id="search-course-add-campus" placeholder = 'Type to Begin Search' type="text"/>
						<div id="search-course-add-campus-results">
			        	</div>
					</div>
				</div>
			</div>
			<!-- End of search-box -->
			<table class="table table-striped view-results-table">
				<thead class="centered-text">
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for campus in campuses %}
				<tr>
					<td width = 20%>{{campus.name}}</td>
					<td width = 50%>{{campus.email|truncatechars:15}}</td>
					<td width =25%>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">Remove</a>
					<a class ="btn btn-xs btn-primary" href="{% url 'msg_box_compose' %}">View</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>


{% endblock %}

{% block custom-js-ready %}

$( '#search-subject-add-course' ).keyup( function() {
        q = $('#search-subject-add-course').val();
        var q = 'subjectaddcourse-' + q.replace(/\s+/g,'-');
        $('#search-subject-add-course-results').load( "{% url 'search' pk=course.pk %}"+'?q=' + q );
    });
    
    $('#search-subject-add-course').focusin( function() {
        $( '#search-subject-add-course-results' ).show();
    });

$( '#search-course-add-campus' ).keyup( function() {
        q = $('#search-course-add-campus').val();
        var q = 'campusaddcourse-' + q.replace(/\s+/g,'-');
        $('#search-course-add-campus-results').load( "{% url 'search' pk=course.pk %}"+'?q=' + q );
    });
    
    $('#search-course-add-campus').focusin( function() {
        $( '#search-course-add-campus-results' ).show();
    });



{% endblock %}